/* //@media queries */
@media screen and (min-width: 768px) {
  #burger-container {
    display: none;
  }
}
/*-- change css default bootstrap --*/
.navbar-default {
  margin-bottom: 0;
}
.navbar-default ul.nav.navbar-nav.navbar-right a:hover {
  background-color: #ddd;
  color: #2fb2ca;
}
.navbar-default .navbar-toggle {
  border-color: transparent;
  position: relative;
  float: right;
  padding: 9px 10px;
  margin-top: 8px;
  margin-right: 15px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border-radius: 4px;
}

.navbar-default .navbar-toggle:hover {
  background-color: transparent;
}

/*-- end change css default bootstrap --*/
/* --- burger menu ---*/
#burger-container {
  position: absolute;
  margin: 0;
  width: 40px;
  top: -5px;
  right: -10px;
}

#burger-container.open span {
  background-color: #2fb2ca;
}
#burger-container.open span:nth-child(2), #burger-container.open span:nth-child(3) {
  width: 0;
  opacity: 0;
}
#burger-container.open span:nth-child(1) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 10.5px;
}
#burger-container.open span:nth-child(4) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -10.5px;
}

#burger {
  cursor: pointer;
  display: block;
}
#burger span {
  background-color: #666;
  display: block;
  width: 30px;
  height: 3px;
  border-radius: 1.5px;
  margin: 0 auto 4px;
  position: relative;
  top: 0;
  -webkit-transition: all ease-in-out 0.3s;
          transition: all ease-in-out 0.3s;
}
#burger span:last-child {
  margin-bottom: 0;
}

.navbar-brand {
  position: relative;
  top: -12px;
}
.navbar-brand img {
  max-width: 200px;
}

/*-- end burger menu --*/
html, body {
  height: 100%;
  font-family: 'Leelawadee', arial, sans-serif;
}

/*  image hero */
.header-area {
  background: url(../img/do-more.jpg) no-repeat scroll 0 0/cover;
  background-size: cover;
  position: relative;
  height: 100%;
  background-position: center center;
}
.header-area .inner-background {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-area .inner-background .name-header {
  font-size: 14vmin;
  color: #fff;
  font-family: 'Bauhaus 93', arial, sans-serif;
  letter-spacing: 1.5px;
  position: relative;
}
.header-area .inner-background .name-header span {
  color: #2fb2ca;
  text-decoration: underline;
}
.header-area .inner-background .hello-header {
  font-size: 6vmin;
  color: #fff;
  font-family: 'Architects Daughter', cursive;
  font-weight: bold;
  letter-spacing: 1.5px;
}
.header-area .inner-background .hello-header span {
  -webkit-animation: blink-text 1s ease-in-out 0s infinite alternate;
          animation: blink-text 1s ease-in-out 0s infinite alternate;
}
.header-area .inner-background .typed-strings {
  display: none;
}
.header-area .inner-background .wrapper-typed .typed {
  font-size: 6vmin;
  color: #fff;
  letter-spacing: 1.5px;
}
.header-area .inner-background .social-icon a i {
  color: rgba(255, 255, 255, 0.4);
  font-size: 6vmin;
  margin: 20vmin 1vmin 1vmin;
}
.header-area .inner-background .social-icon a i.fa-facebook:hover {
  color: #486bb4;
}
.header-area .inner-background .social-icon a i.fa-youtube-play:hover {
  color: #b43c3b;
}
.header-area .inner-background .social-icon a i.fa-instagram:hover {
  color: #d3c3b6;
}
.header-area .inner-background .social-icon a i.fa-github:hover {
  color: black;
}

@-webkit-keyframes blink-text {
  0% {
    color: #2fb2ca;
    opacity: 0.5;
  }
  100% {
    color: #fff;
    opacity: 1;
  }
}

@keyframes blink-text {
  0% {
    color: #2fb2ca;
    opacity: 0.5;
  }
  100% {
    color: #fff;
    opacity: 1;
  }
}
/* ************ */
/* uncomment for animate loading page */
/* .header-area:before{
	background:rgba(0,0,0,0.23);
	position:absolute;
	left:0;top:0;
	width:100%;
	height:100%;
	content:""
} */
/* //end image hero */
/* ************ */
.padding-bottom-1 {
  padding-bottom: 10vmin;
}

.padding-bottom-2 {
  padding-bottom: 15vmin;
}

.about {
  min-height: 600px;
  padding-top: 50px;
  background-color: #fff;
}
.about .about-me {
  width: 100%;
  height: auto;
}
.about .about-me p.blink-text-2 {
  -webkit-animation: blink-text-2 1s ease-in-out 0s infinite alternate;
          animation: blink-text-2 1s ease-in-out 0s infinite alternate;
}
.about p {
  font-size: 1.2em;
  letter-spacing: 1.3px;
}
.about .title {
  font-size: 1.5em;
  color: #2fb2ca;
  text-decoration: underline;
}
.about blockquote p {
  opacity: 0.5;
}
.about .skills {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.about .skills .skills-bar {
  border: 1px solid #ddd;
  background-color: #ddd;
  -webkit-flex-basis: 300px;
      -ms-flex-preferred-size: 300px;
          flex-basis: 300px;
  border-radius: 4px;
}
.about .skills .score1 {
  display: block;
  background-image: -webkit-linear-gradient(180deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  background-image: linear-gradient(-90deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  max-width: 65%;
  height: 12px;
  border-radius: 2px;
}
.about .skills .score2 {
  display: block;
  background-image: -webkit-linear-gradient(180deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  background-image: linear-gradient(-90deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  max-width: 50%;
  height: 12px;
  border-radius: 2px;
}
.about .skills .score3 {
  display: block;
  background-image: -webkit-linear-gradient(180deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  background-image: linear-gradient(-90deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  max-width: 55%;
  height: 12px;
  border-radius: 2px;
}
.about .skills .score4 {
  display: block;
  background-image: -webkit-linear-gradient(180deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  background-image: linear-gradient(-90deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  max-width: 55%;
  height: 12px;
  border-radius: 2px;
}
.about .skills .score5 {
  display: block;
  background-image: -webkit-linear-gradient(180deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  background-image: linear-gradient(-90deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  max-width: 80%;
  height: 12px;
  border-radius: 2px;
}
.about .skills .score6 {
  display: block;
  background-image: -webkit-linear-gradient(180deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  background-image: linear-gradient(-90deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  max-width: 80%;
  height: 12px;
  border-radius: 2px;
}
.about .skills .score7 {
  display: block;
  background-image: -webkit-linear-gradient(180deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  background-image: linear-gradient(-90deg, rgba(47, 178, 202, 0.4), rgba(255, 255, 255, 0.4));
  max-width: 75%;
  height: 12px;
  border-radius: 2px;
}
.about .skills .score-animate {
  display: block;
  background-image: -webkit-linear-gradient(180deg, #2fb2ca, #fff);
  background-image: linear-gradient(-90deg, #2fb2ca, #fff);
  max-width: 80%;
  height: 12px;
  border-radius: 2px;
  -webkit-animation: animate-bar 2s ease-in-out 0s infinite;
          animation: animate-bar 2s ease-in-out 0s infinite;
}

@-webkit-keyframes blink-text-2 {
  0% {
    color: #2fb2ca;
    opacity: 0.5;
  }
  100% {
    color: #000;
    opacity: 1;
  }
}

@keyframes blink-text-2 {
  0% {
    color: #2fb2ca;
    opacity: 0.5;
  }
  100% {
    color: #000;
    opacity: 1;
  }
}
@-webkit-keyframes animate-bar {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}
@keyframes animate-bar {
  0% {
    max-width: 0%;
  }
  100% {
    max-width: 100%;
  }
}
.portfolio {
  min-height: 600px;
  background-color: #fff;
}

.contact-image {
  background: url(../img/3.filter.png) no-repeat scroll 0 0/cover;
  background-size: cover;
  background-position: center center;
  min-height: 600px;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 30px;
}
.contact-image .icon-fav {
  font-size: 50px;
  color: #fff;
  padding-bottom: 20px;
}
.contact-image p {
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}
.contact-image hr {
  max-width: 100px;
  border-top: 3px solid #2fb2ca;
}
.contact-image .icon {
  margin-top: 100px;
}

.contact {
  min-height: 800px;
}

footer {
  width: 100%;
  min-height: 100px;
  background-color: #333;
  color: #aaa;
  padding: 40px;
}
footer p i {
  color: salmon;
}
footer a.btn {
  margin: 2px;
}

hr {
  max-width: 200px;
  border-top: 3px solid #2fb2ca;
}

/* ************ */
/* image gallery */
.overlay-image {
  position: fixed;
  width: 0;
  height: 0;
  overflow: hidden;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 9999;
  -webkit-transition: 1s;
          transition: 1s;
  text-align: center;
}
.overlay-image:target {
  width: auto;
  height: auto;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.7);
}
.overlay-image:target img {
  -webkit-animation: zoomImage 1s;
          animation: zoomImage 1s;
}
.overlay-image:target .close {
  -webkit-animation: zoomImage 1s;
          animation: zoomImage 1s;
}
.overlay-image img {
  max-height: 100%;
  max-width: 100%;
  padding: 50px 10px 10px;
}
.overlay-image .close {
  position: absolute;
  top: 10px;
  left: 50%;
  margin-left: -10px;
  padding: 1px 8px 4px;
  border-radius: 100%;
  background-color: #fff;
  color: #2fb2ca;
  opacity: 1;
}
.overlay-image .close:hover {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

@-webkit-keyframes zoomImage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes zoomImage {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/* Add this for the animated blinking cursor. */
.typed-cursor {
  font-size: 6vmin;
  color: #fff;
  letter-spacing: 1.5px;
  opacity: 1;
  -webkit-animation: blink 0.8s infinite;
  animation: blink 0.8s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
